<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="./CSS/index.css">
</head>
<body>
    <div class="header">
    {{>Header}}</div>
    <img src="./Assets/download.jpg" alt="my image">
    <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, asperiores.</h2>
    {{>footer}}
</body>
</html>