<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <link rel="stylesheet" href="./CSS/index.css">
</head>
<body>
    <div class="header">
    {{>Header}}</div> 
       <h2>this is the official Dictionary site</h2>
    <input type="text" placeholder="Type something Interesting"> 
    <button>Search</button>
   <div class="matched"></div> 
    {{>footer}}
    <script src="./Js/index.js"></script>
</body>
</html>